


body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: black !important;
}

.protest-guerrilla-regular {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Apply the custom font */
  text-transform: uppercase; /* Make text uppercase */
  font-weight: 800; /* Use bold weight for emphasis */
}

h1{
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

h2{
  color: #FFD700 !important;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

nav{
  margin-bottom: auto !important;
}
